* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container
{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    /* flex-direction: row; */
    list-style: none;
    width: 100%;
    font-size: 1.25rem;
    padding: 15px 0px 15px 0px;
    /* justify-content: center; */
    justify-content: center;
    position: fixed;
    top:0;
}

.nav-container > li {
    margin: 0px 2rem 0px 2rem;
}

.navOption {
    text-decoration: none;
    color: white;
}

.navOption:hover {
    color: orange;
}